.Navbar_Container {
  background-color: black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.Navbar_Logo {
  height: 70px;
}
.Navbar_SignIn_Button {
  width: 100px;
  height: 60px;
}
.Navbar_SignOut_Button {
  width: 100px;
  height: 60px;
}
.arrowIcon {
  color: linear-gradient(#fd297b, #ff655b);
}

.arrowIcon :hover {
  color: red;
}
