.chatInputs {
  display: flex;
  position: fixed;
  bottom: 2%;
  right: 25%;
  width: 40vw;
  height: 100px;
}

.userMessages {
  display: flex;
  justify-content: flex-end;
}

.userMessages > p {
  background-color: #0275d8;
  color: white;
  padding: 5px;
  padding-inline: 10px;
  border-radius: 8px;
}
.receiverContainer {
  display: flex;
  flex-direction: column;
}

.receiverMessages {
  display: flex;
  justify-content: flex-start;
}

.receiverMessages span {
  background-color: #d3d3d3;
  padding: 5px;
  padding-inline: 10px;
  border-radius: 8px;
}
