.App {
  background-image: url(./images/LeagueBackground.png);
  background-size: auto 80vh;
  background-repeat: no-repeat;
  background-position-y: 10vh;
  background-color: black;
  min-height: 100vh;
}
